# PostgreSQL Database Configuration
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name

# Esta DATABASE_URL se construye a partir de las variables anteriores y es para referencia.
# La aplicación puede construirla internamente o leerla directamente si está configurada.
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Application Server Configuration
SERVER_HOST=localhost
SERVER_PORT=8000

# pgAdmin Configuration (Valores por defecto si no se especifican)
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
