# requirements.txt

# Conversational AI agent framework
fastmcp==2.5.1

# Asynchronous PostgreSQL adapter
asyncpg>=0.28.0,<1.0.0

# Data validation and serialization
pydantic>=2.5.0,<3.0.0

# OpenAI API
openai>=1.1.0,<2.0.0

# Testing (opcional, para desarrollo)
pytest>=7.4.0,<8.0.0
pytest-asyncio>=0.23.0,<1.0.0

# Matplotlib
numpy>=1.24,<2.0.0
matplotlib>=3.7.0,<4.0.0


# Scikit-learn
